.featured {
  padding: 0 40px;
}

.featured-head {
  margin: 70px 0 20px 0;
  font-size: 30px;
  font-weight: 600;
  margin-left: 50px;
}

@media (max-width: 48em) {
  .featured {
    padding: 0;
  }

  .featured-head {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 10px 10px;
  }
}
