

.index-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.index-item {
  box-sizing: border-box;
  max-width: 200px;
  max-height: 200px;
  margin: 35px 11px;
  box-shadow: 5px;
  text-align: center;
}

.index-item section {
  overflow: hidden;
  white-space: nowrap;
  margin: 7px 0;
  font-size: 12px;
}

.index-item-img {
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.index-item-img:hover {
  opacity: 0.8;
  transition-duration: 0.25s;
}

.avatar {
  border-radius: 50%;
}

#user-show-link {
  color: #b2b6bc;
  border-bottom: 1px solid transparent;
  font-size: 12px;
}

#user-show-link:hover {
  border-bottom: 1px solid white;
  color: white;
}

.album-item-artist {
  display: inline;
  color: #b3b3b3;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
}

.album-item-artist:hover {
  color: white;
  transition-duration: 0.3s;
  border-bottom: 1px solid white;
}


@media (max-width: 48em) {
  .index-item {
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 35px 6px;
  }

  .index-item a {
    width: 100%;
  }

  .index-item section {
    font-size: 10px;
    font-weight: 500;
    width: 100%;
  }

  .index-item a section {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
  }


  .index-list {
    padding: 0 10px;
    margin: 0 0 45px 0;
    justify-content: center;
  }
}
