

.index-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 100%;
}

.index-item {
  box-sizing: border-box;
  max-width: 185px;
  max-height: 185px;
  margin: 35px 11px;
  box-shadow: 5px;
  text-align: center;
}

.index-item section {
  overflow: hidden;
  white-space: nowrap;
  margin: 7px 0;
  font-size: 12px;
}

.index-item-img {
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  background-color: green;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.avatar {
  border-radius: 50%;
  background-color: transparent;
}
