.side-bar {
  max-width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #010101;
  overflow-x: hidden;
  color: #b3b3b3;
  padding: 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  z-index: 8;
}

.side-bar-logo {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}

.side-bar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.side-bar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  font-weight: 600;
  font-size: 15px;
}

.side-bar-links section {
  display: flex;
  align-items: center;
  align-content: center;
}

.side-bar-links div {
  display: inline;
  position: relative;
  left: 12px;
  bottom: 5px;
}

.side-bar-links a:hover {
  color: white;
  transition-duration: 0.25s;
}

.side-bar-links section > .active {
  color: #1db954;
}

.side-bar-bottom {
  height: 14%;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0px;
  margin-bottom: 105px;
}

.side-bar-bottom img {
  width: 30%;
  margin-right: 20px;
  opacity: 0.9;
}

.side-bar-current-user {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;

}

.side-bar button {
  margin-top: 30px;
}

.side-bar-current-user:hover section {
  color: white;
}

.side-bar-current-user:hover img {
  opacity: 1;
}

.side-bar-line {
  border-top: 1px solid #d9dadc;
  opacity: 0.4;
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
