.song-index-list {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 40px;
  width: 100%;
  box-sizing: border-box;
}

#song-item-left {
  display: flex;
  width: 80%;
  overflow: hidden;
}

#song-item-right {
  width: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#song-item-right h2 {
  color: #b3b3b3;
  font-size: 14px;
  letter-spacing: 0.11em;
  margin-left: 30px;
}

.middot {
  margin: 0 8px 0 8px;
  vertical-align: middle;
  height: 100%;
}

.song-index-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 20px 15px 20px;
  width: 100%;
  border-radius: 2px;
}

.song-index-item:hover {
  background-color: rgba(0,0,0,0.4);
  transition-duration: 0.3s;
}

.song-index-item:focus {
  background-color: rgba(0,0,0,0.4);
  transition-duration: 0.3s;
}

.playing-song {
  background-color: rgba(0,0,0,0.4);
  transition-duration: 0.3s;
  color: green;
}

.song-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.song-index-item-img {
  width: 12px;
  height: 100%;
  padding: 7px;
  background-repeat: no-repeat;
  transition-duration: 0.2s;
}

.icon-pause {
  width: 10px;
  padding: 8px;
}

.song-index-item-img:hover {
  cursor: pointer;
}

.song-index-item:hover {
  transition-duration: 0.2s;
}

.song-index-item h1 {
  color: white;
  font-size: 15px;
}

.song-info-bottom {
  display: flex;
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 4px;
}

.song-info-bottom a {
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
}

.song-info-bottom a:hover {
  color: white;
  transition-duration: 0.3s;
  border-bottom: 1px solid white;
}

.song-info > .green-text, .green-text, #song-item-right > .green-text {
  color: #1db954
}

#mobile-song-artist {
  display: none;
  color: #b3b3b3;
  font-size: 11px;
}

@media (max-width: 48em) {
  .song-index-list {
    padding: 0 10px 0 10px;
    overflow: scroll;
  }

  .song-index-item {
    padding: 5px 0;
    height: 50px;
    font-size: 13px;
    font-weight: 500;
  }

  #mobile-song-artist {
    display: block;
  }

  .song-info-bottom {
    display: none;
  }
}
