.green-play, .artist-save, .playlist-create-btn,
.session-demo, .session-submit-button, .session-switch-link {
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  border-radius: 500px;
  transition-duration: .25s;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
  color: white;
}
.session-demo, .session-submit-button, .session-switch-link {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 48px 18px;
  letter-spacing: 2px;
  min-width: 160px;
}

.session-demo {
  background-color: #3b5998;
  margin-top: 40px;
  color: white;
}

.session-demo:hover {
  background-color: #3a61b3;
}

.session-submit-button {
  background-color: #1db954;
  margin: 20px;
  color: white;
}

.session-submit-button:hover, .playlist-create-btn:hover, .green-play:hover {
  background-color: #1ed760;
}

.session-switch-link {
  color: #616467;
  border: 1px solid #616467;
  margin-top: 20px;
}

.session-switch-link:hover {
  color: white;
  background-color: #616467;
}



.artist-show-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.green-play {
  padding: 16px 48px 18px;
}

.playlist-create-btn {
  padding: 10px 48px 12px;
}

.green-play, .playlist-create-btn {
  background-color: #1db954;
}

.artist-save {
  background-color: rgba(24,24,24,.7);
  border: 2px solid white;
  padding: 16px 48px 18px;
}

.show-save {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 30px;
}

.show-save:hover {
  font-size: 12px;
  color: gray;
}


.empty-desc > a {
  font-size: 12px;
  font-weight: 400;
  color: #101010;
  background-color: white;
  border-radius: 500px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 48px 14px;
}

.empty-desc > a:hover {
  font-size: 13px;
  padding: 14px 50px 16px;
}

.modal-buttons {
  display: flex;
  width: 15%;
  justify-content: center;
  margin-top: 20px;
}
