.splash-footer {
  display: flex;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 100px 100px;
  height: 400px;
}

.splash-logo {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
}

.splash-footer-link {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 40px;
}

.splash-footer-list {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.splash-footer-list li {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
}

.splash-footer-icons {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.splash-footer-icons i {
  background-color: #222325;
  padding: 16px 19px;
  border-radius: 50px;
  margin: 0 10px;
}

.splash-footer a:hover {
  color: #1ed760;
}

.splash-footer h3 {
  color: #919496;
  font-size: 12px;
  letter-spacing: .08em;
  font-weight: 500;
  text-transform: uppercase;
}


@media (max-width: 48em) {
  .splash-logo {
    width: 100%;
    height: 30px;
    margin: 0 0 50px 0;
  }

  .splash-footer {
    padding: 50px 15px;
    height: 400px;
    flex-direction: column;
  }

  .splash-footer-list {
    width: 90%;
    justify-content: space-between;
  }

  .splash-footer-link {
    margin: 0;
    flex-direction: column;
  }

  .splash-footer-icons {
    margin: 50px 0;
    justify-content: flex-start;
  }
}
