.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
}

#favicon {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image_url('favicon.png');
  margin-right: 10px;
}

.nav-bar-logo {
  cursor: pointer;
  font-size: 20px;
  width: 20%;
  margin-left: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav-bar-logo:hover {
  color: #1ed760;
}

.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-drop-menu {
  background-image: image_url('hamburger.png');
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.menu-btn, .nav-drop-menu {
  z-index: 10;
}

.menu-btn:checked ~ .nav-drop-menu {
  background-image: image_url('exit.png');
  width: 50px;
  height: 50px;
}

.nav-bar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.nav-bar-right a {
  margin: 0 12px;
}

.nav-bar-right a:hover {
  color: #1ed751;
}

#nav-div {
  margin: 0 12px;
  font-size: 20px;
  font-weight: 400;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

#mobile-nav-logo {
  display: none;
}

@media (max-width: 48em) {
  .nav-bar {
    background-color: rgba(0, 0, 0, 1);
    padding: 14px 7px;
  }

  .nav-bar-right {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 100vw;
    background: black;
    padding: 38px;
    transition    : all 0.2s ease-in-out;
    -o-transition       : all 0.2s ease-in-out;
    -moz-transition     : all 0.3s ease-in-out;
    -webkit-transition  : all 0.3s ease-in-out;
  }

  .nav-bar-links a, .nav-bar-session a {
    display: block;
  }

  .nav-bar-links a {
    font-size: 30px;
    margin: 25px 0;
  }

  .nav-bar-session a {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 400;
  }

  .nav-bar-logo {
    width: 50%;
    margin-left: 5px;
    font-size: 16px;
  }

  #favicon {
    width: 28px;
    height: 28px;
    margin-right: 6px;
  }

  .nav-menu {
    height: 30px;
  }

  .nav-drop-menu {
    display: block;
  }

  #nav-div {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    margin: 55px 0;
  }

  .menu-btn:checked ~ .nav-bar-right {
    transform: translateX(-100vw);
  }

  #mobile-nav-logo {
    display: flex;
    margin: 50px 0;
  }
}
