#splash {
  background-image: image_url('abstract-background-61.jpg');
}

#splash-top {
  height: 100vh;
}

.splash-main {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.splash-main h1 {
  margin-top: 30vh;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: -0.08em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.splash-main h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 20px 0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 48em) {
  #splash {
    background-position: center;
  }

  .splash-main h1 {
    font-size: 50px;
  }

  .splash-main h2 {
    font-size: 16px;
  }
}
